# python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.mypy_cache/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/

# Translations
*.mo

# Django stuff:
*.log
*.pot
media/

# Mkdocs
site/
db.sqlite3

# Linting
setup.cfg
.mypy_cache

# Django local db
db.sqlite3

# Environments
.env
.venv
.envrc
env/
venv/
ENV/
env.bak/
venv.bak/

# Eslint
.eslintcache
coverage/

*.cfg

# javascript

# node.js

node_modules/
npm-debug.log
yarn-error.log

package-lock.json