.group-list-page {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-start;
    margin: 20px;
    
}

.list-view {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 20px;
}

.groupType-list-section {
    flex-direction: column;
    justify-content: flex-start;
}

.modal-btn-green {
    background-color: rgb(100, 156, 156);
}

.created-modal-footer {
    width: 50%;
}

.action-row {
    padding-top: 5px;
    padding-right: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.create-group-button {
    align-self: flex-end;
    width: 20%
}

.create-btn {
    background-color: rgb(100, 156, 156);
    border-color:rgb(100, 156, 156)
}

.create-btn:hover {
    background-color: rgb(100, 156, 156);
    border-color:rgb(100, 156, 156)
}
