.group-list-section {
    margin-top: 20px;
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px; 
}

.table {
    border-width: 1px;
    border-color: rgb(100, 156, 156);
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}
.group-row:hover {
    cursor: pointer;
    text-decoration: underline rgb(100, 156, 156);
}





