.subscription-credentials-section,
.group-details-info {   
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-width: 1px;
    border-color: darkslateblue;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.detail-row {
    display: flex;
}

.detail-info-header {
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
}

.detail-info-text {
    padding-left: 10px;
    text-align: right;
}

.group-member-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: flex-start;
    padding: 10px;
    border-width: 1px;
    border-color: darkslateblue;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.member-tray {
    display: flex;
    flex-direction: row;
}

.paid-string {
    color: green;
}

.notpaid-string {
    color: red;
}

.member-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-width: 1px;
    border-color: darkslateblue;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.group-detail-action {
    width: 20%;
    margin-left: 5px;
}